body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

/*start of section 1 but some footer is included */
.Section-one, .Footer{
    background-color: #1F2937;

}

.Section-one {
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 175px;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Header-part-one {
    
}

.Header-part-two ul{
    list-style: none;
    display: inline-flex;
    font-size: 18px;
    color: #e5e7eb;
    gap: 18px;
}

.Hero-logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.Hero{
    padding-top: 100px;
    display: flex;
    justify-content: space-between;
    gap: 18px;
}

.Hero-part-one{
    flex: 1;
}

.Hero-main-text{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    font-style: Roboto;
    margin: 0;
}

.Hero-secondary-text{
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.Hero-part-two{
    background-color:  gray;
    flex: 1;
    margin-left: 18px;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 10px;
    font-size: 18px;
    padding: 8px 32px;
    margin-top: 18px;
    border-width: 0;
}

/*start of section 2 */

.Section-two {
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 175px;
}

.Section-two-part-one {
    display: flex;
    justify-content: center;
}

.Information-header-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;

}

.Section-two-part-two {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 64px;
}

.Section-two-part-two-item {
    align-self: center;
    width: 200px;
    height: 200px;
}

.blue-border {
    border-radius: 20px;
    border: 5px solid #3882f6;
    padding: 20px; 
    height: 150px;
}

/*End of section 2 */